<body>
    <header>
        <div class="header-logo-container">
            <img class="header-logo" src="/assets/svg/header-logo.svg" />
            <img class="header-title" src="/assets/svg/otimiza-title.svg" />
        </div>
        <div class="header-buttons">
            <form method="get" action="">
                <button class="home-btn header-btn" type="submit">INÍCIO</button>
            </form>
            <form method="get" action="/history">
                <button class="history-btn header-btn" type="submit">HISTORIA</button>
            </form>
            <form method="get" action="/services">
                <button class="services-btn header-btn" type="submit">SERVIÇOS</button>
            </form>
            <form method="get" action="/team">
                <button class="team-btn header-btn" type="submit">TIME</button>
            </form>
            <form method="get" action="/news">
                <button class="news-btn header-btn" type="submit">NOTÍCIAS</button>
            </form>
            <form method="get" action="https://form.jotform.com/240124693705656" target="_blank">
                <button class="field-day-btn header-btn" type="submit">FORMULÁRIO</button>
            </form>
        </div>
        <div class="email-section">
            <div class="email">gmateus987&commat;gmail.com</div>
            <div class="email-owner">Mateus Gomes</div>
        </div>
    </header>
    <main>
        <div class="minor-div">
            <div class="otimiza-section">
                <div class="otimiza-text-container">
                    <img src="/assets/svg/otimiza-text.svg" />
                </div>
                <div class="otimiza-text">
                    <h1>Precisando de um olhar especializado?</h1>
                    <p>
                        A Otimiza Pesquisa Agrícola pode identificar as falhas de plantio na sua propriedade!
                        Sabemos o quanto é importante obter o máximo rendimento em sua produção agrícola.
                        Estamos aqui para oferecer o suporte todo o necessário.
                    </p>
                </div>
                <div class="button-container">

                    <form method="get" action="/history"><button class="more-about" type="submit">Saiba mais</button>
                    </form>
                </div>
            </div>
            <div class="call-section">
                <img src="/assets/svg/bot-img.svg" />
                <div class="call-itens">
                    <h3>Podemos te ajudar! Entre em contato por meio de telefone, email ou pelas nossas redes sociais:
                    </h3>
                    <div class="social-media">
                        <a href="https://instagram.com/otimizapesquisa_agricola/" target="_blank"><img
                                src="/assets/svg/instagram-icon.svg" /></a>
                        <a href="https://wa.me/5564992338746" target="_blank"><img
                                src="/assets/svg/whatsapp-icon.svg" /></a>
                        <a href="mailto:gmateus987@gmail.com" target="_blank"><img
                                src="/assets/svg/gmail-icon.svg" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="major-div">
            <div class="img-section-container">
                <div class="img-section">
                    <div class="img-desc">
                        <img src="/assets/svg/search-icon.svg" />
                        <h4>Melhores Pesquisas</h4>
                    </div>
                    <img src="/assets/svg/first-example.svg" />
                </div>
                <div class="img-section">
                    <div class="img-desc">
                        <img src="/assets/svg/handshake-icon.svg" />
                        <h4>Melhores Negócios</h4>

                    </div>
                    <img src="/assets/svg/second-example.svg" />
                </div>
                <div class="img-section">
                    <div class="img-desc">
                        <img src="/assets/svg/check-icon.svg" />
                        <h4>Melhores Resultados</h4>
                    </div>
                    <img src="/assets/svg/third-example.svg" />
                </div>
            </div>
        </div>
    </main>
</body>